<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application_name":"streaming-service"}</customFields>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>